.l2{
	width: 20vw;
}

.l6{
	width: 60vw;
}

.hidden{
	display: none;
}

.fixed{
	position:fixed;
}

@font-face {
	font-family: GT Cinetype;
	src: url(./fonts/gt-cinetype-light.otf);
}

*{
	box-sizing: border-box;
}

html, body{
	font: normal 100 18px 'GT Cinetype', sans-serif;
	letter-spacing: 0.02em;
	line-height: 23px;
	cursor: help;
	background-color: #fff;
	height: 100vh;
	overflow: hidden;
}

@media only screen and (max-width: 479px){

	html, body{
		font-size: 25px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 749px){

	html, body{
		font-size: 40px;
	}
}

@media only screen and (min-width: 750px) and (max-width: 1000px){

	html, body{
		font-size: 40px;
	}
}

a:link{
	text-decoration:none;
	color:#fff;
}

a:visited{
	text-decoration:none;
	color:#fff;
}

a:hover{
	cursor: pointer;
}

h1{
	font-size: 140px;
	line-height: 170px;
	margin: 0;
	padding: 0;
}

h2{
	font-size: 3.1vw;
	line-height: 1.2em;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

h6{
	font-size: 18px;
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
}

#loading{
	position: fixed;
	display: block;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: #ffff00;
	opacity: 1;
	-webkit-transition: opacity 0.5s ease;
	        transition: opacity 0.5s ease;
}

#loading img{
	position: absolute;
	width: 200px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin:-100px 0 0 -100px;
}

#page-content section:not(.hidden){
	overflow-y: auto;
	height: 100%;
	float: left;
	display: block;
}

#page-content .nav .nav-content{
	padding-top: 130px;
	padding-bottom: 30px;
	min-height: 100vh;
}

#page-content .nav .nav-content ul{
	margin: 0;
	padding: 0 30px 1.5ch 30px;
	list-style: none;
}

#page-content .nav .nav-content ul h6{
	padding: 0;
	margin: 0;
}

#page-content .nav header{
	width: 20vw;
}

#page-content .nav#tags-nav .nav-content{
	background: #ffff00;
}

#page-content .nav#tags-nav .nav-content ul li a:hover, #page-content .nav#tags-nav .nav-content ul li a.active{
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	margin-left: -2px;
	background-color: #000;
	color: #ffff00;
}

#page-content .nav#tags-nav #search-box{
	height: 40px;
	width: 100%;
	padding: 35px 30px 55px 30px;
}

#page-content .nav#tags-nav #search-box #search{
	height: 40px;
	width: 100%;
	border: 1px solid black;
	background: #ffff00;
	padding-left: 10px;
	padding-right: 10px;
}

#page-content .nav#tags-nav #search-box #search:focus{
	outline: none;
}

#page-content .nav#names-nav .nav-content{
	background: #000;
	color: #fff;
}

#page-content .nav#names-nav .nav-content ul li a:hover, #page-content .nav#names-nav .nav-content ul li a.active{
	color: #ffff00;
}

#page-content .nav#names-nav #showcase-map{
	height: 40px;
	padding: 35px 30px 55px 30px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	width: 100%;
}

#page-content .nav#names-nav #showcase-map .btn{
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	height: 40px;
	background-color: #ffff00;
	color: #000;
	border: none;
	margin: 0;
}

#page-content .nav#names-nav #showcase-map .btn:first-child{
	margin-right: 10px;
}

#page-content .nav#names-nav #showcase-map .btn:last-child{
	margin-left: 10px;
}

#page-content .nav#names-nav #side-nav{
	float: right;
	position: relative;
	right: 20px;
	top: -100vh;
	height: 100vh;
	color: #fff;
}

#page-content .nav#names-nav #side-nav ul{
	padding-top: 130px;
	list-style: none;
}

#page-content #main header{
	height: 85px;
}

/* background-color: #fff; */

#page-content #main header nav{
	position: absolute;
	right: 0;
	padding: 35px 30px 0px 50px;
}

#page-content #main header a{
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: underline;
}

#page-content #main .content{
	padding: 130px 40px 0px 40px;
}

#page-content #main #main-hover-content{
	word-wrap: break-word;
	padding: 130px 40px 0px 40px;
	position: fixed;
	display: none;
	background-color: #fff;
	height: 100%;
	width: 100%;
	max-width: 60vw;
	z-index: 100;
}

#page-content #main #studentWrapper a{
	color: #000;
}

#page-content #main #studentWrapper a:hover{
	text-decoration: underline;
}

#page-content #main #studentWrapper article{
	max-width: 700px;
}

#page-content #main #studentWrapper img, #page-content #main #studentWrapper iframe{
	width: 100%;
	max-width: 700px;
}

#page-content #main #questions{
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	    -ms-hyphens: auto;
	        hyphens: auto;
}

#page-content #main #questions u{
	text-decoration: none;
}

#page-content #main #questions u:hover{
	box-shadow: inset 0px -13px 0px -7px rgba(0,0,0,1);
}

#page-content #main #sponsors{
	padding: 50px 30px 50px 0px;
}

#page-content #main #sponsors .sponsor{
	color: inherit;
	text-decoration: none;
}

#page-content #main #sponsors .sponsor img{
	display: none;
}

#page-content #main #sponsors .sponsor:hover img{
	display: inline-block;
	margin: auto;
	position: absolute;
	margin-top: -10px;
}

#page-content #main #sponsors .sponsor:hover span{
	opacity: 0;
}

#page-content .gallery{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

#page-content .gallery img{
	max-width: 300px;
	max-height: 300px;
	padding: 5px;
}

/* Will probably show holding page for mobile so please keep */

#page-content header.holding-page{
	background: #ffff00;
	padding-bottom: 38px;
	padding: 35px;
}

@media only screen and (max-width: 479px){

	#page-content header.holding-page{
		padding: 15px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 749px){

	#page-content header.holding-page{
		padding: 20px;
		min-height: 100vh;
	}
}

#page-content header.holding-page u{
	display: inline-block;
	text-decoration: none;
	border-bottom: 0.06em solid #000;
	line-height: 0.9em;
	margin-bottom: .1em;
}

#page-content header.holding-page u:hover{
	cursor: pointer;
}

#page-content header.holding-page #show-details{
	max-height: 0px;
	overflow: hidden;
	-webkit-transition: max-height 0.5s ease-out;
	        transition: max-height 0.5s ease-out;
}

@media only screen and (max-width: 479px){

	#page-content header.holding-page #show-details{
		max-height: 1500px;
	}
}

#page-content .holding-page#questions{
	width: calc(100% - 350px);
	padding: 35px;
	line-height: 1.4em;
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	    -ms-hyphens: auto;
	        hyphens: auto;
}

#page-content .holding-page#questions u{
	display: inline-block;
	text-decoration: none;
	border-bottom: 0.06em solid #000;
	line-height: 0.9em;
}

@media only screen and (max-width: 479px){

	#page-content .holding-page#questions u{
		border-bottom: none;
	}
}

@media only screen and (min-width: 480px) and (max-width: 749px){

	#page-content .holding-page#questions u{
		border-bottom: none;
	}
}

#page-content .holding-page#questions u img{
	display: none;
}

#page-content .holding-page#questions u:hover img{
	display: inline-block;
	position: absolute;
	z-index: 9999;
	-webkit-filter: grayscale(100%);
	        filter: grayscale(100%);
	width: 300px;
	margin-top: -1px;
	cursor: pointer;
}

@media only screen and (max-width: 479px){

	#page-content .holding-page#questions u:hover img{
		display: none;
	}
}

@media only screen and (min-width: 480px) and (max-width: 749px){

	#page-content .holding-page#questions u:hover img{
		display: none;
	}
}

#page-content .holding-page#questions em{
	font-style: normal;
	background: #fff;
	color: #000;
	margin-right: 10px;
	padding-left: 0.38em;
	padding-right: 0.32em;
	line-height: 1.3em;
	border: 0.06em solid #000;
	font-weight: 100;
}

@media only screen and (max-width: 479px){

	#page-content .holding-page#questions em{
		padding-left: 9px;
		padding-right: 10px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 749px){

	#page-content .holding-page#questions em{
		padding-left: 16px;
		padding-right: 14px;
	}
}

@media only screen and (max-width: 479px){

	#page-content .holding-page#questions{
		width: calc(100% - 50px);
		padding: 15px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 749px){

	#page-content .holding-page#questions{
		width: calc(100% - 70px);
		padding: 25px;
	}
}

@media only screen and (min-width: 750px) and (max-width: 1000px){

	#page-content .holding-page#questions{
		width: calc(100% - 100px);
	}
}

#page-content .holding-page#sponsors{
	padding-top: 60px;
	padding-left: 35px;
	padding-bottom: 35px;
	width: calc(100% - 200px);
}

@media only screen and (max-width: 479px){

	#page-content .holding-page#sponsors{
		padding-top: 20px;
		padding-left: 15px;
		width: calc(100% - 50px);
	}
}

@media only screen and (min-width: 480px) and (max-width: 749px){

	#page-content .holding-page#sponsors{
		width: calc(100% - 100px);
	}
}

#page-content .holding-page#sponsors .sponsor{
	color: inherit;
	text-decoration: none;
}

#page-content .holding-page#sponsors .sponsor img{
	display: none;
}

#page-content .holding-page#sponsors .sponsor:hover img{
	display: inline-block;
	margin: auto;
	position: absolute;
	margin-top: -10px;
}

@media only screen and (max-width: 479px){

	#page-content .holding-page#sponsors .sponsor:hover img{
		display: none;
	}
}

#page-content .holding-page#sponsors .sponsor:hover span{
	opacity: 0;
}

@media only screen and (max-width: 479px){

	#page-content .holding-page#sponsors .sponsor:hover span{
		opacity: 1;
	}
}